.bsp
*.class
*.log
*.iml
*.txt

# SBT
dist/*
**/target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.scalafmt.conf

# IDEA InteliJ
.idea/*
.idea_modules/*

# Eclipse
.project
.classpath
.settings
/bin
/admin-api/bin
/api/bin
.cache
.cache-main
.cache-tests

.DS_Store
.ensime
.ensime_cache

**/node_modules/
**/bower_components/
**/dist/
**/coverage/
**/.sass-cache/
**/.tmp/
**/.idea/
**/.project
**/.classpath
**/.settings
**/BrowserStackLocal
*.sublime*
**/null

.bloop

version.txt

.env